@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  min-height: 100%;
  /* background-color: #12181f; */
  background-image: url('./assets/Card-game-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

#logo {
  display: block;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 320px;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  margin-top: 70px;
  color: #4285f4;
}

p {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #0f9d58;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  padding: 12px 24px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  color: white;
  transition: all 0.3s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.actions button:nth-child(2) {
  background-color: #db4437;
}

.actions button:nth-child(2):hover {
  background-color: #b4291c;
}

.actions button:nth-child(3) {
  background-color: transparent;
  border: 2px solid #4285f4;
  color: #4285f4;
}

.actions button:nth-child(3):hover {
  background-color: #3367d623;
  border: 2px solid #3367d6;
}

.actions button:first-child {
  background-color: #0f9d58;
}

.actions button:first-child:hover {
  background-color: #038245;
}

.score-time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 50px;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(2, calc(110px / 2 * 3));
}

.card {
  height: calc(110px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 60px;
  height: 60px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-image: url('./assets/Card-bg.svg');
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}
